/*                    пїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ            */


#mdl3 {
	position:  absolute; top: 140px; left: 70px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px 0px 30px 0px; z-index: 2; border-top: solid 0px #ccc;  border-left: solid 0px #345;  border-right: solid 0px #345; 
}
#mdl3 a {
	text-decoration: none; 
}

/*      +++++++++         пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ        +++++++++++         */


#add_article  {
	position:  relative; float: left; top: 110px; left: 0px; width: 990px; height: auto; padding-left: 0px; padding-right: 0px; margin: 20px 0px 30px 0px; border-top: 0px solid #fff; background: #efefef;
}
#add_article tr.w {
	 background: #efefef;
}
#add_article tr.b {
	 background: #ddd;
}
#add_article td {
	height: auto; vertical-align: top; padding-left:5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px; 
}
#add_article td.h {
	height: 30px; vertical-align: middle; 
}

/*    пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ -   "пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ"                        */

#add_article td.h p {
	position: relative; float: left; top: 0px; left: 3%;  width: 95%; font: bold 11pt "verdana"; color: #05a; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px;
}
/*              - - - - - - - -         */

#add_article td p {
position: relative; float: left; top: 0px; left: 0px; width: auto; height: auto; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; margin: 0px 0px 5px 0px; font: 9pt "verdana"; color: #000;
}
#add_article a {
 text-decoration: none; position: relative; top: 0px; left: 0%; float: left; width: auto; height: auto; text-align: center; font: 8pt verdana; color: #05a; padding-left: 0px; padding-right: 0px; padding-top: 3px; padding-bottom: 2px; margin: 0px 0px 5px 0px; display: inline;
}
#add_article a:hover {
 cursor: pointer; text-decoration: none; 
}
#add_article td input {
	position: relative; float: left; top: 0px; left: 0px; width: 345px; font: bold 8pt "verdana"; color: #234; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 4px; padding-bottom: 4px; margin: 0px;
}

/*                            * * *                     */


#add_article td.left {
	width: 350px;
}
#add_article td.right {
	width: 350px;
}
#add_article td.center {
	width: 270px; padding-left: 0px; padding-right: 0px;
}
#add_article td.left p {
	text-align: left;  width: 350px; 
}
#add_article td.right p {
	text-align: right; width: 350px;
}
#add_article  td.center p {
	position:  relative; float: left; top: 0px; left: 0px; width: auto;  font: 7pt "verdana"; color: #000; padding-left: 5px; padding-right: 5px; padding-top: 2px; text-align: left; margin: 0px; display: inline;
}


/*              пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ - пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅ пїЅпїЅпїЅпїЅ                 */

#add_article td p.warn {
	text-align: center; width: 100%; font: bold 10pt "verdana"; color: #f34;
}
#add_article td p.any {
	text-align: center; width: 100%; font: bold 9pt "verdana"; color: #456;
}


/*          пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ          */


#add_article td.h a.close {
	position: relative; float: left; top: 3px; left: 75%;  width: 22%; font: bold 11pt "verdana"; color: #f20; text-align: right; padding-left: 0px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; margin: 0px; background: #cde; border: solid 1px #cde;
}
#add_article td.h a.close:hover {
	border: solid 1px #f20;  
}


/*         пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ                   */

#add_article td select.part {
	position: relative; float: left; top: 0px; left: 3%; width: 35%; height: 25px; font: 9pt "verdana"; color: #234; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 3px; padding-bottom: 2px; margin: 0px;
}
#add_article td select.part option {
	width: 99%; text-align: left; 
}
/*        пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ     */

#add_article td select.heads_1_6 {
	position: relative; float: left; top: 10px; left: 10px; width: 40px; height: 20px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; margin: 0px 0px 0px 10px; display: inline;
}
#add_article td select option {
	font: bold 9pt "verdana"; color: #000; 
}



/*            =======       пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ     ======                   */

	/*           Общая ссылка "Сохранить" - сохраняет  имя автора, картинки 
	, тексты параграфов - удаляет признак рабочей области  <tr class=work_area>    */

#add_article td a.save_zone {
	 width: 26%; margin: 0px 0px 0px 37%
}
#add_article td a.save_zone:hover  {
	background: #fe8; 
	}
	
/*             Признак рабочей  области   -  синий цвет           */

#add_article tr.work_area {
	 background: #cedeef; 
}
#add_article td input.img {
	left: 20%; width: 60%;
}

/*        пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ              */

#add_article td p.add_paragraph {
		position: relative; float: left; top: 0px; left: 0%; text-align: center; width: 100%; font: bold 10pt "verdana"; color: #05a; margin: 0% 0% 10px 0%;
}
/*        1- пїЅпїЅ пїЅпїЅпїЅпїЅпїЅ             */

#add_article td a.add_text_1 {
	position: relative; float: left; top: 0px; left: 0%; width: 8%; font: bold 9pt "verdana"; text-align: center; display:inline; border-bottom: solid 1px #05a; padding-bottom: 3px; margin: 0% 0% 0% 46%;
}
#add_article td a.add_text_1:hover {
	color: #248; background: #ff5; 
}

/*        пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ             */

#add_article td a.add_picture {
	 position: relative; float: left; top: 0px; left: 0%; width: 8%; font: bold 9pt "verdana"; text-align: center;  display:inline; margin: 0% 5% 0% 40%; border-bottom: solid 1px #05a; padding-bottom: 3px;
}
#add_article td a.add_picture:hover {
	color: #248; background: #ff5; 
}

/*        пїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ             */

#add_article td a.add_text {
	position: relative; float: left; top: 0px; left: 0%; width: 8%; font: bold 9pt "verdana"; text-align: center; display:inline; border-bottom: solid 1px #05a; padding-bottom: 3px;
}
#add_article td a.add_text:hover {
	color: #248; background: #ff5; 
}


#add_article td input.submit {
	position: relative; float: left; top: 0px; left: 0%; width: 10%; font: bold 8pt "verdana"; color: #234; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin-left:45%; margin-top: 10px;
}

/*           пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ       */

#add_article td a.add_comments {
	 top: 10px; left: 15%; width: 70%; display: block;
}
#add_article td a.add_comments:hover {
	background: #fe8; 
	}



/*        пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ "пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ"        */


#add_article td p.text_style {
	width: 100%; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; text-align: center; font: bold 10pt "verdana"; color: #04a;
}

/*        пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ: пїЅпїЅпїЅпїЅпїЅпїЅ, пїЅпїЅпїЅпїЅпїЅпїЅ, пїЅпїЅпїЅпїЅпїЅпїЅ       */

#add_article td p.text_option  {
	display: inline; width: 8%; padding-left: 0%; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 10px 0% 0px 9%; text-align: center; background: #ffe;
}
#add_article td input.indent {
	 top: 0px; display: inline; width: 3%; padding-right: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 10px 0px 0px 1%; text-align: right;
}
#add_article td input.checkbox {
	 top: 2px; display: inline; width: 2.5%; padding-right: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 10px 0px 0px 0px; 
}

/*        пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ  пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ     */

#add_article td select.heads_4_6 {
	position: relative; float: left; top: 10px; left: 10px; width: 50px; height: 20px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; margin: 0px 0px 0px 10px; display: inline;
}
#add_article td select option {
 font: bold 9pt "verdana"; color: #000; width: 20px; text-align: right;
}


/*           пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ / пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ  пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ      */

#add_article td a.save_text {
	 left: 20%; width: 25%; 
}
#add_article td a.save_text:hover {
	 background: #fff;
}
#add_article td a.del_text {
	 left: 35%; width: 25%; 
}
#add_article td a.del_text:hover {
	 background: #fff; color: #d00;
} 

/*                пїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ           */

#add_article td.left  textarea.text_en {
	position: relative; float: left; top: 0px; left: 0px; width: 99%; height: 80px; font: bold 8pt "verdana"; color: #234; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 4px; padding-bottom: 4px; margin: 5px 0px 0px 0px;
}
#add_article td.right  textarea.text_ru {
	position: relative; float: left; top: 0px; left: 0px; width: 99%; height: 80px; font: bold 8pt "verdana"; color: #234; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 4px; padding-bottom: 4px; margin: 5px 0px 0px 0px;
}


/*           пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ  пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ      */

#add_article td a.chng_text {
	 left: 35%; width: 25%; 
}
#add_article td.left a.chng_text:hover {
	 background: #fff;
}
#add_article td.right a.chng_text:hover {
	 background: #fff;
}

/*           пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ  / пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ  /  пїЅпїЅпїЅпїЅпїЅпїЅпїЅ  пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ        */


#add_article td a.chng {
	 left: 0%; width: 50%; margin: 0px 0px 0px 25%;
}
#add_article td a.chng:hover {
	 background: #fff;
}
#add_article td a.del {
	 left: 0%; width: 50%; margin: 0px 0px 0px 25%;
}
#add_article td a.del:hover {
	 background: #fff;
}
#add_article td table td.comment a.save_comment {
	 left: 0%; width: 50%; margin: 0px 0px 0px 25%;
}
#add_article td table td.comment a.save_comment:hover {
	 background: #fff;
}
#add_article td table td.comment a.chng_comment {
	 left: 0%; width: 40%; margin: 0px 0px 0px 5%;
}
#add_article td table td.comment a.chng_comment:hover {
	 background: #fff;
}
#add_article td table td.comment a.del_comment {
	 left: 0%; width: 50%; margin: 0px 0% 0px 25%;
}
#add_article td table td.comment a.del_comment:hover {
	 background: #fff; color: #d00;
} 

/*                пїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ           */

#add_article td  textarea.comment_en {
	position: relative; top: 0px; left: 0px; float: left;  width: 90%; height: 60px; font: bold 8pt "verdana"; color: #234; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 4px; padding-bottom: 4px; margin: 5px 0px 0px 5%; display: inline; 
}
#add_article td  textarea.comment_ru {
	position: relative; top: 0px; left: 0px;  float: left; width: 90%; height: 60px; font: bold 8pt "verdana"; color: #234; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 4px; padding-bottom: 4px; margin: 5px 0px 0px 5%; display: inline; 
}

/*          =======      пїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ      ======            */


/*           Ссылка "Изменить" устанавливает признак рабочей области - <tr class=work_area>       */

#add_article td a.chng_zone {
	 left: 37%; width: 26%; display: block; 
}
#add_article td a.chng_zone:hover  {
	background: #fe8; 
	}
#add_article td a.chng_author_name {
	 left: 37%; width: 26%; display: block; 
}
#add_article td a.chng_author_name:hover  {
	background: #fe8; 
	}
	
	
	
/*           пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ / пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ        */

#add_article td a.chng_paragraph {
	 left: 20%; width: 25%; 
}
#add_article td a.chng_paragraph:hover {
	 background: #fff;
}
#add_article td a.del_paragraph {
	 left: 30%; width: 25%; 
}
#add_article td a.del_paragraph:hover {
	 background: #fff; color: #d00; 
}

/*             пїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ  пїЅ  пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ                  */

/*             пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ               */
/*          пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ             */

#add_article td p.h {
	font-family: "verdana"; color: #234; font-weight: bold;
}

/*            пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ            */

#add_article td p.h_1 {
	font-size: 20pt;
}
#add_article td p.h_2 {
	font-size: 18pt;
}
#add_article td p.h_3 {
	font-size: 16pt;
}


/*             пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅ                */

#add_article td p.txt {
	left: 0px; width: auto; font-weight: normal; font-style: normal; font-size: 8pt; font-family:  "verdana"; color: #000; text-align: justify; padding-left: 1%; padding-right: 1%;  padding-top: 0px; padding-bottom: 0px; margin: 0px; line-height: 130%;  background-color: #fff; 
}

/*             пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅ               */

#add_article td p.ita {
	font-style: italic;
}
#add_article td p.bold {
	font-weight: bold;
}
#add_article td p.h4 {
	font-size: 12pt; font-weight: bold; text-align: left; text-indent: 0em;
}
#add_article td p.h5 {
	font-size: 10pt; font-weight: bold; text-align: left; text-indent: 0em;
}
#add_article td p.h6 {
	font-size: 8pt; font-weight: bold; text-align: left; text-indent: 0em;
}

/*             пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ               */

#add_article td img {
	position: relative; float: left; top: 0px; left: 0%; width: 100%; height: auto; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border: 0px;
}


/*              пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ  пїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ           */

#add_article  td.center table td p.lt {
	font:  bold 7pt "verdana"; color: #000; background: #8fe;  margin: 5px 0px 5px 5%; width:90%;
}
#add_article  td.center table td p.rt {
	text-align: justify;  background: #fe9;  margin: 5px 0px 5px 5%; width:90%;
}

/*           таблица в которую вписаны комменты             */

#add_article  td.center table {
	position: relative; float: left; top: 0px; left: 0%; width: 270px; height: auto; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border: 0px;
}

#add_article  td.center table td {
	width: 135px;
}
