
/*                   Таблица        статьи         */      


#article  {
	position:  relative; float: left; top: 0px; left: 0px; width: auto; height: auto;  padding-left: 0px; padding-right: 0px; margin: 20px 0px 30px 0px; border-top: 0px solid #fff; border-bottom: 10px solid #fff; background: #fff;
}
#article tr {
	  height: auto;  padding-left: 0px; padding-right: 0px; 
}

#article td {
	width: 350px; height: auto; padding-left: 5px; padding-right: 5px; padding-bottom: 20px; padding-top: 5px; vertical-align: top; border-bottom: 0px solid #f00;
}

#article td a  {
	 position:  relative; float: left; left: 0px; width: 350px; text-decoration: none; cursor: pointer; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px;  border: 0px solid #fff
}

#article td p {
	position:  relative; float: left; top: 0px; left: 0px; width: 350px; font: 9pt "verdana"; color: #001; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; 
}
 

/*                            Заголовки статьи                       */  

#article td p.head {
	font: bold 10pt "verdana"; color: #234; text-align: center; padding-top: 0px; padding-bottom: 10px; background: #fff; border-bottom: 1px solid #555;
}

/*                            Автор                                */  

#article td p.authleft {
	width: 100%; font:  9pt "verdana"; color: #012; text-align: left; 
}
#article td p.authright {
	 font:  9pt "verdana"; color: #000;  text-align: right; 
}

/*                           Претекст                   */  

#article td p.pretxt {
	font:  bold 9pt "verdana"; color: #234;  text-align: left; margin: 0px; 
}


/*                            Иллюстрации к статье                      */  



#article td  img {
	 position:  relative; float: left; left: 0px;  width: 350px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; border: 0px solid #999; margin: 0px;
}

/*                            Текст                 */      

#article td p.txt {
	 text-indent: 2em; text-align: justify; line-height: 130%; 
}


/*     Ссылки "добавить в блог" и "версия для печати"  - только в варианте для зарегистрированных пользователей,  аккаунт - ОК            */  



#article  td.blg-print {
	width: 270px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 0px; vertical-align: top;  background: #e5e5eb;
}
#article  td.blg-print a {
	width: auto; padding-left: 0px; padding-right: 0px; padding-top: 0px;  padding-bottom: 0px; margin: 0px; 
}
#article  td.blg-print a.blg {
	 left: 10px; top: 5px; 
}
#article  td.blg-print a.print1 {
	left: 10px; top: 11px; 
}
#article  td.blg-print a.print2 {
	left: 23px; top: 11px; 
}
#article  td.blg-print a p {
	 font: 8pt "verdana"; color: #456; padding-left: 0px; padding-right: 0px; padding-top: 2px;  padding-bottom: 3px; text-align: center; margin: 0px;  
}
#article  td.blg-print a.blg p {
	 width: 110px;  border-bottom: solid 1px #58f; background: #fefeff; 
}
#article  td.blg-print a.print1 p{
	  width: 130px; border-bottom: solid 1px #588; background: #efefef;
}
#article  td.blg-print a.print2 p{
	  width: 130px; border-bottom: solid 1px #588; background: #efefef;
}
#article td.blg-print a:hover p {
	 color: #000; background: #fff; 
}
#article td.blg-print a.blg:hover p {
	 color: #26e; background: #fff; 
}


/*              Ссылка на резюме переводчика            */  

#article  td.trans {
	height: auto; width: 270px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; vertical-align: top; 
}

#article  td.trans a {
	width: 270px;  background: #fff;
}
#article td.trans a:hover  {
	 background: #bcd;
}
#article  td.trans a p {
	position:  relative; float: left; top: 0px; left: 0px; width: 125px; font: 8pt "verdana"; padding-left: 0px; padding-right: 0px; padding-top: 4px; padding-bottom: 3px; text-align: left; margin: 0px; display: inline;
}
#article  td.trans a p.lt {
	font: bold 8pt "verdana"; color: #27e; text-align: left; padding-left: 5px; 
}
#article  td.trans a p.rt {
	left: 5px; font: 8pt "verdana"; text-align: center; padding-right: 5px;
}
#article  td.trans a p.re {
	width: 270px; font: bold 8pt "verdana"; color: #fff; text-align: center; padding-top: 0px; padding-bottom: 6px; 
}

/*                       Оценить статью                        */  

#article  td.center p.lt_ev {
	font:  8pt "verdana"; color: #f25; text-align: left; padding-left: 5px; 
}
#article  td.center p.rt a {
	display: inline; width: 20px; margin: 0px 0px 0px 5px;
}
#article  td.center p.rt a:hover {
	background: #ccc;
}
#article  td.center p.rt a img {
	display: inline; width: 20px 
}

/*                      Отдельные слова и перевод к ним              */  

#article  td.center {
	height: auto; width: 270px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 0px; background: #e8e8ef; vertical-align: top;
}
#article  td.center p {
	position:  relative; float: left; top: 0px; left: 0px; width: 125px;  font: 8pt "verdana"; color: #000; padding-left: 0px; padding-right: 0px; padding-top: 7px; text-align: left; margin: 0px; display: inline;
}
#article  td.center p.lt {
	font:  bold 8pt "verdana"; color: #000; text-align: left; padding-left: 5px; 
}
#article  td.center p.rt {
	left: 5px; font:  8pt "verdana"; color: #000; text-align: justify; padding-right: 5px; 
}

/*     +++++      Ссылка на правила сайта - для незарегистрированного пользователя    */  

#article td a.rul  {
	 width: 350px; left: 0px; background: #fff; 
}

#article  td a.rul p {
	position:  relative; float: left; top: 0px; left: 100px; width: 170px; font: bold 9pt "verdana" ; color: #234; padding-left: 0px; padding-right: 0px; padding-top: 5px;  padding-bottom: 5px; text-align: center; margin: 0px; 
}
#article td a.rul p:hover  {
	background: #bcd;
}

#article  td p.no_money {
	position:  relative; float: left; top: 0px; left: 40px; width: 250px; font: 9pt "verdana" ; color: #612; padding-left: 10px; padding-right: 10px; padding-top: 5px;  padding-bottom: 5px; text-align: center; margin: 0px; text-align: justify; background: #ecd; line-height: 150%;
}
#article  td p.no_money span {
	position:  relative; float: left; top: 0px; left: 80px; width: auto; padding-left: 0px; padding-right: 0px;
}
/*                      Контейнер для    Google         */       


#google_adds {
	position: relative; top: 0px; left: 0px; width: 340px;  padding-left: 0px; padding-right: 0px;  padding-top: 0px; padding-bottom: 0px; margin: 0px;
}

#over {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-top: 110px;
  left: 0px;
  top: 0px;
  background-image: url(../images/part_.png);
}

#over #f {
  min-height: 0px;
}