
/*                   Таблица        статьи         */      


#article  {
	position:  relative; float: left; top: 0px; left: 0px; width: auto; height: auto;  padding-left: 0px; padding-right: 0px; margin: 20px 0px 30px 0px; border-top: 0px solid #fff; border-bottom: 10px solid #fff; background: #fff;
}
#article tr {
	  height: auto;  padding-left: 0px; padding-right: 0px; 
}

#article td {
	width: 350px; height: auto; padding-left: 5px; padding-right: 5px; padding-bottom: 0px; padding-top: 5px; vertical-align: top; border-bottom: 0px solid #f00;
}

#article td a  {
	 position:  relative; float: left; left: 0px; width: 350px; text-decoration: none; cursor: pointer; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px;  border: 0px solid #fff;
}

#article td p {
	position:  relative; float: left; top: 0px; left: 0px; 
}
 

/*                            Заголовки статьи                       */  


/*          основной класс             */

#article td p.head {
	width: 350px; font-family: "verdana"; color: #234; font-weight: bold; text-align: center; padding-top: 0px; padding-bottom: 10px; background: #fff; border-bottom: 1px solid #555;
}

/*            дополнительные классы            */

#article td p.h_1 {
	font-size: 20pt;
}
#article td p.h_2 {
	font-size: 18pt;
}
#article td p.h_3 {
	font-size: 16pt;
}


/*                            Автор                                */  

#article td p.authleft {
	width: 350px; font:  9pt "verdana"; color: #012; text-align: left; margin: 0px 0px 0px 0px;
}
#article td p.authright {
	width: 350px; font:  9pt "verdana"; color: #000;  text-align: right; margin: 0px 0px 0px 0px;
}



/*                            Иллюстрации к статье                      */  



#article td  img {
	 position:  relative; float: left; left: 0px;  width: 350px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; border: 0px solid #999; margin: 0px 0px 20px 0px;
}

/*                       основной текст                 */      

#article td p.txt {
		width: auto; font-weight: normal; font-style: normal; font-size: 8pt; font-family:  "verdana"; color: #000; text-align: justify; padding-left: 1%; padding-right: 1%;  padding-top: 0px; padding-bottom: 0px; margin: 0px 0px 20px 0px; line-height: 130%; text-indent: 2em; background-color: #fff;  
}

/*             дополнительные классы               */

#article td p.ita {
	font-style: italic;
}
#article td p.bold {
	font-weight: bold;
}
#article td p.h4 {
	font-size: 12pt; font-weight: bold; text-align: left; text-indent: 0em;
}
#article td p.h5 {
	font-size: 10pt; font-weight: bold; text-align: left; text-indent: 0em;
}
#article td p.h6 {
	font-size: 8pt; font-weight: bold; text-align: left; text-indent: 0em;
}


/*     Ссылка  "версия для печати"  - только в варианте для зарегистрированных пользователей,  аккаунт = ОК            */  



#article  td.blg-print {
	width: 270px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 0px; vertical-align: top;  background: #e5e5eb;
}
#article  td.blg-print a {
	width: auto; padding-left: 0px; padding-right: 0px; padding-top: 0px;  padding-bottom: 0px; margin: 0px 0px 0px 0px; 
}

#article  td.blg-print a.print {
	left: 23px; top: 11px; 
}
#article  td.blg-print a.print p {
	  width: 130px; font: 8pt "verdana"; color: #456; padding-left: 0px; padding-right: 0px; padding-top: 2px;  padding-bottom: 3px; text-align: center; margin: 0px;border-bottom: solid 1px #588; background: #efefef; 
}
#article td.blg-print a:hover p {
	 color: #000; background: #fff; 
}



/*              Ссылка на резюме переводчика            */  

#article  td.trans {
	height: auto; width: 270px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; vertical-align: top; background: #f00;
}

#article  td.trans a {
	width: 270px;  background: #fff; margin: 0px;
}
#article td.trans a:hover  {
	 background: #bcd;
}
#article  td.trans a p {
	position:  relative; float: left; top: 0px; left: 0px; width: 125px; font: 8pt "verdana"; padding-left: 0px; padding-right: 0px; padding-top: 4px; padding-bottom: 3px; text-align: left; margin: 0px; display: inline;
}
#article  td.trans a p.lt {
	font: bold 8pt "verdana"; color: #27e; text-align: left; padding-left: 5px; 
}
#article  td.trans a p.rt {
	left: 5px; font: 8pt "verdana"; text-align: center; padding-right: 5px;
}
#article  td.trans a p.re {
	width: 270px; font: bold 8pt "verdana"; color: #fff; text-align: center; padding-top: 0px; padding-bottom: 6px; 
}

/*                       Оценить статью                        */  

#article td.center {
	width: 270px; background: #ccc; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; vertical-align: top; 
}
#article td.center div.ev_fon {
	position:  relative; float: left; left: 35px; top: 0px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 10px 0px 0px 0px; background: #f00;
}
#article td.center p.lt_ev {
	width: 130px; font:  8pt "verdana"; color: #333; text-align: left; padding-left: 5px; padding-top: 0px; margin: 10px 0px 0px 0px; 
}
#article td.center p.rt_ev {
 left: 0px; width: 80px; height: 16px; margin: 0px 0px 0px 0px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; background-image: url(../images/p_ev_rt_bgimg.png); background-repeat:no-repeat; background-position: 16px; border-bottom: solid 0px #000; 
}
#article td.center p.rt_ev a {
	display: inline; width: auto; margin: 0px 0px 0px 0px; 
}
#article td.center p.rt_ev a:hover {
   
}
#article td.center p.rt_ev a img {
	  position:  relative; float: left; left: 0px; top: 0px; width: 16px; height: 16px; border: 0px solid #f99; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 0px; 
}

/*                      Отдельные слова и перевод к ним              */  

#article  td.center {
	height: auto; width: 270px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 0px; background: #e8e8ef; vertical-align: top;
}
#article  td.center p {
	position:  relative; float: left; top: 0px; left: 0px; width: 125px;  font: 8pt "verdana"; color: #000; padding-left: 0px; padding-right: 0px; padding-top: 7px; text-align: left; margin: 0px; display: inline;
}
#article  td.center p.lt {
	font:  bold 8pt "verdana"; color: #000; text-align: left; padding-left: 5px; 
}
#article  td.center p.rt {
	left: 5px; font:  8pt "verdana"; color: #000; text-align: justify; padding-right: 5px; 
}

/*     +++++      Ссылка на правила сайта - для незарегистрированного пользователя    */  

#article td a.rul  {
	 width: 350px; left: 0px; background: #fff; 
}

#article  td a.rul p {
	position:  relative; float: left; top: 0px; left: 100px; width: 170px; font: bold 9pt "verdana" ; color: #234; padding-left: 0px; padding-right: 0px; padding-top: 5px;  padding-bottom: 5px; text-align: center; margin: 0px; 
}
#article td a.rul p:hover  {
	background: #bcd;
}

#article  td p.no_money {
	position:  relative; float: left; top: 0px; left: 40px; width: 250px; font: 9pt "verdana" ; color: #612; padding-left: 10px; padding-right: 10px; padding-top: 5px;  padding-bottom: 5px; text-align: center; margin: 0px; text-align: justify; background: #ecd; line-height: 150%;
}
#article  td p.no_money span {
	position:  relative; float: left; top: 0px; left: 80px; width: auto; padding-left: 0px; padding-right: 0px;
}


/*           Реклама       */       


#article a.add {
	 position:  relative; float: left; left: 0px; top: 0px; width: 350px; height: 115px; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 5px 0px 0px 0px; border: 0px solid #f99; background: #89f;
}
#article a.add img {
	 position:  relative; float: left; left: 0px; top: 0px; width: 100%; height: 100%; padding-left: 0px; padding-right: 0px; padding-bottom: 0px; padding-top: 0px; margin: 0px; border: 0px solid #f99; background: #89f;
}
