


/*         ================================      */

/*                    ������ �������            */


#mdl3 {
	position:  absolute; top: 140px; left: 70px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px 0px 30px 0px; z-index: 2; border-top: solid 0px #ccc;  border-left: solid 0px #345;  border-right: solid 0px #345; 
}
#mdl3 a {
	text-decoration: none;
}
/*                       ������ ������� - �����                   */

#cabh {
	position:  relative; float: left; top: 0px; left: 0px;  height: 37px; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; background-image: url(../images/p_proom_h.png); background-repeat: no-repeat;
}
#cabh p {
	position: relative; float: left; width: 95%; top: 8px; left: 0px;  height: 25px; font: bold 11pt "verdana"; color: #456;  text-align: right; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; 
}

/*                       ������ ������� - ���������                  */

#cabto {
	position:  relative; float: left; top: 5px; left: 0px;  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; background: #345;
}
#to {
	position:  relative; float: left; top: 0px; left: 0px;  height: auto; width: 100px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; 
}
#to p {
	position: relative; float: left; width: 100px; top: 0px; left: 0px;  height: 20px; font: bold 8pt "verdana"; color: #345;  text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 3px; padding-bottom: 0px; margin: 0px; 
}
#to p.act {
	background: #efefef;
}
#to p.wrks_act {
	background: #cde; font: bold 8pt "verdana"; color: #345;
}
#to p.stat_act {
	background: #fc3; font: bold 8pt "verdana"; color: #345;
}
#to a {
	position: relative; float: left; width: 100px; top: 0px; left: 0px;  height: 20px; font: bold 8pt "verdana"; color: #345;  text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; text-decoration: none;
}
#to a p {
	position: relative; float: left; width: 100%; top: 0px; left: 0px;  height: 20px; font: bold 8pt "verdana"; color: #2df; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 3px; padding-bottom: 0px; margin: 0px; 
}

#to p.stat_act {
	background: #fe3; color: #345; 
}
#to a p.stat {
	color: #fe3;
}
#to a p.k {
	color: #0f5;
}
#to a:hover p {
	color: #f20; background: #ccc;
}
#to a:hover p.stat_act {
	color: #345; background: #fe3;
}

/*         ================================      */

/*                           �������                */

#account_data  {
	position:  relative; float: left; top: 9px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border-top: 0px solid #123;  border-bottom: 7px solid #123; background: #efefef;
}
#account_data tr {
	  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#account_data tr.w {
	 background: #e5e5e5;
}
#account_data tr.b {
	 background: #ccc;
}
#account_data tr.y {
	 background: #edc;
}
#account_data tr.g {
	 background: #cdc;
}

#account_data td {
	height: 25px; padding-left: 0px; padding-right: 0px; vertical-align: middle;  padding-top: 5px; padding-bottom: 5px; margin: 0px; 
}

#account_data td p {
	 position: relative; float: left; top: 0px; left: 0%; width: 100%; font: 8pt "verdana"; color: #000; text-align: left; padding-left: 0px;  padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; background: #FA500;
}
#account_data td.left p {
	left: 5%; width: 95%;
}
#account_data td.left  {
	width: 264px;
}
#account_data td.center {
	width: 320px; 
}
#account_data td.right  {
	width: 264px;
}
#account_data td.center p {
	 left: 0px; text-align: center; 
}

/*        �������                */

#account_data td.center  img {
	position: relative; float: left; top: 0px; left: 110px; width: 100px; 
}

#account_data td p.k {
	left: 90px; width: 70px; background: #ffb; 
}
#account_data td p.stop {
	color: #f00;
}
#account_data td p.err {
	color: #f00; 
}

#account_data td a  {
		position: relative; float: left; top: 0px; left: 0px; left: 20%; width: 60%; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px;  text-decoration: none; 
}
#account_data td a p {
	position: relative; float: left; top: 0px; left: 0px; font: 8pt "verdana"; color: #05a; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#account_data td a:hover {
	background: #abc;  
}



/*                           ������� -  ���������  ������                 */


#account_data td p.wr {
	text-align: center; left: 0%; font-weight: bold; width: 96%; padding-left: 2%; 
}
#account_data td input {
	position:  relative; float: left; left: 0px; 
}
#account_data td.center p.chng {
	position:  relative; float: left; top: 0px; left: 0px; width: 150px; padding-top: 0px; margin: 0px 0px 0px 0px; display: inline; 
}
#account_data td input {
	  position: relative; float: left; top: 0px; left: 20%; width: 60%; vertical-align: midlle; margin: 0px 0px 0px 0px; padding-left: 0px; padding-right: 0px;
}
#account_data td.center input.radio {
	left: 0px; width: auto; display: inline; margin: 0px 20px 0px 70px;
}
#account_data td input.file {
	left: 10%; width: 45%; background: White;
}


#account_data td.right input {
	 left: 35%; width: 30%; vertical-align: midlle; font: 8pt "verdana";  margin: 5px 0px 5px 0px
}


/*       A������  -  ���������  - ����������� � ������� ������             */

#account_data td.end {
	 height: auto; background: #345; 
}
#account_data td.end p {
	position: relative; float: left; top: 0px; left: 10%; width: 80%; font: 11pt "verdana"; color: #eef; padding-left: 0px; padding-right: 0px;height: auto;  line-height: 120%;  margin: 0% 0% 1% 0%; text-align: center; 
}
#account_data p.wht {
	 width: 45%; text-align: right; padding-right: 5%; 
}
#account_data td.end p.log {
	left: 0%; font: bold 11pt "verdana"; color: #2f6; width: 45%; text-align: left; 
}
#account_data td.end p.pssw {
	left: 0%; font: bold 11pt "verdana"; color: #fe3; width: 40%; text-align: left; padding-left: 5%;
}
#account_data td.end p.comm {
	left: 10%; width: 80%;font: 10pt "verdana"; color: #fe0; line-height: 150%;  text-align: center;
}
/*                       ������ "�����"                         */

#account_data td.end input.submit {
	position:  relative; float: left; top: 0px; left: 45%; width: 10%; font: 9pt "verdana"; margin: 0px;
}

/*         ================================      */

/*                                ����                                     */

#count_data  {
	position:  relative; float: left; top: 8px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border-bottom: 4px solid #123; background: #efefef;
}
#count_data tr {
	  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#count_data tr.w {
	 background: #e5e5e5;
}
#count_data tr.b {
	 background: #ccc;
}
#count_data tr.y {
	 background: #edc;
}
#count_data tr.yg {
	 background: #ddc;
}
#count_data tr.g {
	 background: #cdc;
}

#count_data td {
	height: 25px; padding-left: 0px; padding-right: 0px; margin: 0px; vertical-align: middle;  padding-top: 5px; padding-bottom: 5px; margin: 0px; 
}

#count_data td p {
	 position: relative; float: left; top: 0px; left: 12px; width: auto; font: 8pt "verdana"; color: #000; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}

#count_data td.left  {
	width: 264px;
}
#count_data td.center {
	width: 320px; 
}
#count_data td.right  {
	width: 264px;
}

#count_data td.center p.pay_out {
	font: bold 9pt "verdana"; color: #000; 
}


/*        �������        ���������/�����������       */

#count_data td p span.paid {
	font: 9pt "verdana"; color: #179;
}
#count_data td p span.not_paid {
	font: 9pt "verdana"; color: #e03;
}
#count_data td.right p {
	left: 0px; text-align: center; width: 100%;
}

#count_data td.center p {
	 left: 0px; text-align: center; width: 100%;
}

/*        ���� 1k ������        */

#count_data td p span.k_zn {
	 padding-left: 5px; padding-right: 5px; background: #ff8; font: bold 9pt "verdana"; color: #04c;
}

/*        ���� Read2Read         */

#count_data td p span.r2r_share {
		 padding-left: 5px; padding-right: 5px; background: #bde; font: 9pt "verdana"; color: #04c;
}


#count_data td p.stop {
	color: #f00;
}
#count_data td p.err {
	color: #f00; 
}


#count_data td a  {
		position: relative; float: left; top: 0px; left: 0px; left: 20%; width: 60%; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px;  text-decoration: none; 
}
#count_data td a p {
	position: relative; float: left; top: 0px; left: 0px; font: 8pt "verdana"; color: #05a; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#count_data td a p.back {
	width: 50%; 
}
#count_data td a p.fwd {
	width: 50%; 
}
#count_data td a.act p.back {
	width: 50%; color: #888;
}
#count_data td a.act p.fwd {
	width: 50%; color: #888;
}
#count_data td a:hover p {
	background: #abc;  padding-top: 2px; padding-bottom: 2px;
}
#count_data td a.act:hover p {
	padding-top: 2px; padding-bottom: 2px; background: transparent; 
}


/*                           ���� -  ���������  ������                 */

#count_data td input {
	position:  relative; float: left; top: 0px; left: 0px; 
}
#count_data td.center input {
	 left: 20%; width: 60%; vertical-align: midlle; font: bold 9pt "verdana"; color: #345;
}
#count_data td.right input {
	position:  relative; float: left; top: 0px; left: 40%; width: 30%; vertical-align: midlle; font: 8pt "verdana";
}
#count_data td.left p.chng_wal {
	font: 12pt "verdana"; color: #823;
}
#count_data td.center p.open_check_pic {
	font: 10pt "verdana"; color: #234; margin: 0px 0px 5px 0px;
}
#count_data td.center p.fail {
	font: bold 9pt "verdana"; color: #e34; margin: 0px 0px 5px 0px;
}
#count_data td.center input.open_check_pic {

}

/*         ================================      */


/*                           ������               */




/*                     ������  - ���������                  */

#wrksto {
	position:  relative; float: left; top: 5px; left: 0px;  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; background: #cde;
}
#wto {
	position:  relative; float: left; top: 0px; left: 0px;  height: auto; width: 170px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; 
}
#wto p {
	position: relative; float: left; width: 150px; top: 0px; left: 0px;  height: 20px; font: bold 8pt "verdana"; color: #345;  text-align: center; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 0px; margin: 0px; 
}
#wto p.act {
	color: #345; background: #efefef;
}
#wto a {
	position: relative; float: left; width: 100%; top: 0px; left: 0px;  height: 20px; font: bold 8pt "verdana"; color: #345;  text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; text-decoration: none;
}
#wto a p {
	position: relative; float: left; width: 100%; top: 0px; left: 0px;  height: 20px; font: bold 8pt "verdana"; color: #345; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 3px; padding-bottom: 0px; margin: 0px; 
}
#wto a:hover p {
	color: #e30; background: #bcd;
}




#wrks {
	position:  relative; float: left; top: 9px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border-bottom: 0px solid #123;
}
#wrks tr {
	  height: auto; width: 989px; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#wrks tr.w {
	 background: #e5e5e5;
}
#wrks tr.b {
	 background: #ccc;
} 
#wrks td {
	  height: 25px; padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px; margin: 0px; vertical-align: middle; 
}
#wrks td.sum_of_sales {
	background: #edc;
}
#wrks td p {
	  top: 0px; width: 100%; left: 0px; font: 8pt  "verdana"; color: #000; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 3px; margin: 0px;  text-align: center; 
}
#wrks td p.h {
	width: 290px; font: 9pt "verdana"; color: #000; padding-left: 15px; text-align: left;  
}
#wrks td a  {
	position: relative; float: left; top: 0px; left: 0px; width: auto; text-decoration: none; 
}
#wrks td a p {
	position: relative; float: left; top: 0px; left: 0px; width: auto; font: 8pt "verdana"; color: #05a; text-align: center; padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#wrks td a:hover p {
	background: #abc; 
}
#wrks td a:hover p {
	background: #bcd;  padding-top: 2px; padding-bottom: 2px; 
}


/*                           ������ �����                      */

#wrks_data  {
	position:  relative; float: left; top: 12px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border-top: 0px solid #123;  border-bottom: 7px solid #345; background: #efefef;
}
#wrks_data tr {
	  height: auto; width: 989px; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#wrks_data tr.w {
	 background: #e5e5e5;
}
#wrks_data tr.b {
	 background: #ccc;
} 
#wrks_data tr.y {
	 background: #edc;
} 
#wrks_data tr.r {
	 background: #fdc;
} 
#wrks_data td {
	  height: 25px; padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px; margin: 0px;
}
#wrks_data td p {
	  top: 0px; left: 0px; font: 8pt  "verdana"; color: #000; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 3px; margin: 0px;  text-align: center; 
}
#wrks_data td.sum_of_sales {
	background: #edc;
}
#wrks_data td p.h {
	width: 290px; font: 9pt "verdana"; color: #000; padding-left: 15px; text-align: left;  
}
#wrks_data td.title {
	 width: 230px; padding-left: 3px; padding-right: 3px;
}
#wrks_data td.part {
	 width: 180px; 
}
#wrks_data td.title p.left {
	  text-align: left; background: #fff;
}
#wrks_data td.title p.right {
	  text-align: right; background: #efefef;
}

#wrks_data td a  {
	position: relative; float: left; top: 0px; text-decoration: none; width: 100%; display: inline;
}
#wrks_data td a p {
	position: relative; float: left; top: 0px; left: 2.5%; font: 8pt "verdana"; color: #05a; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px;  width: 95%;
}	
#wrks_data td a p.add {
	border: solid 1px #f00; width: 60%; left: 20%;
}

#wrks_data td a:hover p {
	background: #bcd; color: #234;
}
#wrks_data td a:hover p.add {
	background: #fff; border: solid 1px #fff;
}
#wrks_data td.del {
	 width: 80px; 
}
#wrks_data td a.del_block {
	 width: 60%; left: 20%; 
}
#wrks_data td a.del_block p {
	width: 100%; font: 8pt "verdana"; text-align: center; color: #c13; background: #dcc;
}
#wrks_data td a.del {
	 width: 30%;  
}
#wrks_data td a.pub {
	 width: 40%;  
}
#wrks_data td a.chg {
	 width: 30%; 
}
#wrks_data td a.del_block:hover p {
	 color: #f00; background: #bcd;
}


/*                           ������� - ������ �������                   */

#wrks_data td p.deleted {
	  font: 8pt "verdana"; color: #e13; 
}

/*                           ������� - ������ �����������                   */

#wrks_data td p.block {
	  font: 8pt "verdana"; color: #c13; background: #dcc;
}
#wrks_data td.title p.left_block {
	  text-align: left; color: #c13; background: #dcc;
}
#wrks_data td.title p.right_block {
	  text-align: right; color: #c13; background: #dcc;
}


/*         ================================      */


/*                           ��������                */

#conts_data  {
	position:  relative; float: left; top: 9px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border-top: 0px solid #123; background: #efefef;
}
#conts_data tr {
	  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#conts_data tr.w {
	 background: #e5e5e5;
}
#conts_data tr.b {
	 background: #ccc;
}
#conts_data tr.y {
	 background: #edc;
}
#conts_data tr.g {
	 background: #cdc;
}

#conts_data td {
	height: 25px; padding-left: 0px; padding-right: 0px; margin: 0px; vertical-align: middle;  padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}

#conts_data td p {
	 position: relative; float: left; top: 0px; left: 5%; width: 95%; font: 8pt "verdana"; color: #000; text-align: left; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}

#conts_data td.left  {
	width: 264px;
}
#conts_data td.center {
	width: 230px; 
}
#conts_data td.right  {
	width: 264px;
}
#conts_data td.center p {
	 left: 0px; text-align: center; 
}

#conts_data td p.k {
	left: 90px; width: 70px; background: #ffb; 
}
#conts_data td p.stop {
	color: #f00;
}
#conts_data td p.err {
	color: #f00; 
}

#conts_data td a  {
	position: relative; float: left; top: 0px; left: 20%; width: 60%; text-decoration: none;  padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; margin: 0px;
} 
#conts_data td a p {
	position: relative; float: left; top: 0px; left: 0px;width: 100%;  font: 8pt "verdana"; color: #05a; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#conts_data td a:hover p {
	background: #abc;  padding-top: 2px; padding-bottom: 2px;
}

/*                           �������� -  ���������  ������                 */

#conts_data td.center p.chng {
	position:  relative; float: left; top: 0px; left: 0px; width: 120px; padding-top: 0px; margin: 0px 0px 0px 0px; display: inline;
}
#conts_data td input {
	position:  relative; float: left; top: 0px; left: 0px; 
}
#conts_data td.center input {
	 left: 55px; width: 135px; vertical-align: midlle;
}
#conts_data td.right input {
	position:  relative; float: left; top: 0px; left: 35%; width: 30%; vertical-align: midlle; font: 8pt "verdana"; padding-left: 0px; padding-right: 0px;
}

/*         ================================      */

/*                               ������ � ����                             */


#resume_data  {
	position:  relative; float: left; top: 9px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; background: #efefef;
}
#resume_data tr {
	  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#resume_data tr.w {
	 background: #e5e5e5;
}
#resume_data tr.b {
	 background: #ccc;
}

#resume_data td {
	 min-height: 300px; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; margin: 0px;
}
#resume_data td p {
	  position:  relative; float: left; top: 0px; left: 0px; top: 0px; width: 100%; left: 0px; font: 8pt  "verdana"; color: #000; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 3px; margin: 0px;  text-align: center; 
}
#resume_data td.left {
	 width: 500px; padding-left: 10px; padding-right: 10px; vertical-align: top; text-align: left; 
}

#resume_data td.left p {
	width: auto;  text-align: justify; 
}

/*        ���� ����������� ��� ������ ( �� ������� )                */


#resume_data td.left img {
	position: relative; float: left; left: 20px; top: 0px; width: 60%; height: auto; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; 
}

#resume_data td a  {
	position: relative; float: left; top: 0px; left: 20%; width: 60%; text-decoration: none; 
}
#resume_data td a p {
	position: relative; float: left; top: 0px; left: 0px; font: 8pt "verdana"; color: #05a; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#resume_data td a:hover p {
	background: #abc;  padding-top: 2px; padding-bottom: 2px;
}

/*                           ������  -  ���������  ������                 */

#resume_data td.left input {
	position:  relative; float: left; top: 0px; left: 0px;  width: auto; padding-top: 0px; margin: 0px 0px 0px 0px; 
}
#resume_data td input {
	position:  relative; float: left; top: 0px; left: 0px; display: inline; 
}
#resume_data td.right input {
	position:  relative; float: left; top: 0px; left: 35%; width: 30%; vertical-align: midlle; font: 8pt "verdana";
}



/*                                �����������   - 1k ������                                      */

#vote  {
	position:  relative; float: left; top: 9px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border-top: 0px solid #123; background: #efefef;
}
#vote tr {
	  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#vote tr.w {
	 background: #e5e5e5;
}
#vote tr.b {
	 background: #ccc;
}
#vote tr.db {
	 background: #bbb;
}
#vote tr.bd {
	 background: #bbb;
}
#vote tr.y {
	 background: #edc;
}
#vote tr.g {
	 background: #cdc;
}

#vote td {
	height: 25px; width: 480px; padding-left: 3px; padding-right: 3px; margin: 0px; vertical-align: middle;  padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}

#vote td.left  {
	width: 260px;
}
#vote td.center {
	width: 250px; 
}
#vote td.right {
	width: auto; 
}


#vote td p {
	 position: relative; float: left; top: 0px; left: 12px; width: 100%; font: 8pt "verdana"; color: #000; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}


#vote td.left p {
	text-align: left; 
}


#vote td.center p {
	 left: 0px; text-align: center; 
}

#vote td.center p.k {
	left: 90px; width: 70px; background: #ffb; font: 14pt "verdana"; color: #345; 
}
#vote td.center p.cent {
	left: 90px; width: 70px; background: #feb; font: 11pt "verdana"; color: #234; 
}
#vote td.center p.bid {
	left: 90px; width: 70px; background: #edb; font: bold 12pt "verdana"; color: #a34; 
}

#vote td p.stop {
	color: #f00;
}
#vote td p.err {
	color: #f00; 
}


#vote td a  {
	position:  relative; float: left; top: 0px; left: 0px; width: 100%;  padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px;  text-decoration: none; 
}
#vote td a p {
	 position:  relative; float: left; top: 0px; left: 10%; width: 80%; font: 8pt "verdana"; color: #05a; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#vote td a:hover p {
	background: #abc;  padding-top: 2px; padding-bottom: 2px;
}





/*                           ����������� -  ���������  ������               */  

#vote td.center p.chng {
	position:  relative; float: left; top: 0px; left: 0px; width: 120px; padding-top: 0px; margin: 0px 0px 0px 0px; display: inline;
}
#vote td input {
	position:  relative; float: left; top: 0px; left: 0px; 
}
#vote td.center input {
	 left: 55px; width: 135px; vertical-align: midlle;  font: 14pt "verdana"; color: #a45; text-align: center;
}
#vote td.right input {
	position:  relative; float: left; top: 0px; left: 33%; width: 30%; vertical-align: midlle; font: 8pt "verdana";
}



/*                                     ��� �����������                                  */

#vote_data {
	position:  relative; float: left; top: 9px; left: 0px;  height: auto; width: 848px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; border: 0px solid #f23; background: #efefef;
}
#vote_data tr {
	  height: auto; width: 100%; padding-left: 0px; padding-right: 0px; margin: 0px; padding-top: 0px; padding-bottom: 0px; 
}
#vote_data tr.w {
	 background: #e5e5e5;
}
#vote_data tr.b {
	 background: #ccc;
}
#vote_data tr.db {
	 background: #bbb;
}
#vote_data tr.y {
	 background: #eec;
}
#vote _datatr.g {
	 background: #cdc;
}

#vote_data td {
	height: 25px; width: auto; padding-left: 0px; padding-right: 0px; vertical-align: middle;  padding-top: 2px; padding-bottom: 2px;  
}

#vote_data td.h  {
	 background: #cdc; height: 40px; 
}
#vote_data td.nm  {
	background: #ececc0; width: 170px;
}
#vote_data td.nmb {
	background: #eee; width: 250px;
}
#vote_data td.nmw {
	background: #fff; width: 170px;
}
#vote_data td.position {
	width: 150px;
}
#vote_data td.za {
	width: 120px;
}
#vote_data td.left  {
	width: 260px;
}
#vote_data td.center {
	width: 250px; 
}
#vote_data td.right {
	width: 230px; 
}


#vote_data td p {
	 position: relative; float: left; top: 0px; left: 0px; width: 100%; font: 8pt "verdana"; color: #000; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#vote_data td.h p {
	left: 3%; width: 95%; font: 14pt "verdana"; color: #123; text-align: left; 
}
#vote_data td.nm p {
	left: 12px; font: 10pt "verdana"; color: #123; text-align: left; 
}
#vote_data td.nmb p {
	left: 12px; font: 10pt "verdana"; color: #123; text-align: left;  
}
#vote_data td.nmw p {
	left: 12px; font: 10pt "verdana"; color: #123; text-align: left; 
}



#vote_data td a {
	 position: relative; float: left; top: 0px; left: 20%; width: 60%;  padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; margin: 0px; text-decoration: none;
}
#vote_data td a p {
	 position: relative; float: left; top: 0px; left: 0px; width: 100%; font: bold 8pt "verdana"; color: #000; text-align: center; padding-left: 0px; padding-right: 0px; padding-top: 2px; padding-bottom: 2px; margin: 0px; 
}
#vote_data td a p:hover {
	font: bold 10pt "verdana"; color: #252; background: #ed5;
}
