generator:
  class: sfDoctrineGenerator
  param:
    model_class:           User
    theme:                 admin
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          user_uuser
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        login:              { label: логин }
        sell_purchase_cnt:  { label: Количество покупок }
        amount:             { label: сумма по покупкам }
        tariff:             { label: тариф }
        is_blocked_string:  { label: состояние аккаунта }
        created:            { label: дата регистрации }
      list:
        table_method:       retrieveBackendUuserList
        title:              Пользователи
        display:            [ =login, sell_purchase_cnt, amount, created, is_blocked_string ]
        object_actions:     {}
      filter:
        display:            [ tariff ]
      form:    ~
      edit:    ~
      new:     ~
